<div class="mat-typography responseTypes" fxLayout="column" fxLayoutAlign="start stretch" fxFlex="auto"
  fxFlex.gt-sm="900px" fxLayoutGap="24px">
  <mat-card>
    <h1>Subject</h1>
    <mat-divider></mat-divider>
    <mat-form-field class="name-input">
      <textarea matInput placeholder="Enter subject" #newResponse (keyup)="0"></textarea>
    </mat-form-field>
  </mat-card>
  <mat-card>
    <h1>Answered?</h1>
    <div *ngFor="let responseType of responseTypes">
      <mat-divider></mat-divider>
      <div class="responseType" fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="24px">
        <h1>{{responseType.responseTypeName}}</h1>
        <div fxLayout="row">
          <h1>{{responseType.numResponses}}</h1>
          <div fxFlex="15px"></div>
          <button mat-icon-button (click)="addBeer(responseType, newResponse.value)" color="primary">
            <h1>+</h1>
          </button>
          <!-- <button mat-icon-button [disabled]="!owesBeer(responseType.numResponses)" (click)="subtractBeer(responseType)"
            color="primary">
            <h1>-</h1>
          </button> -->
        </div>
      </div>
    </div>
  </mat-card>
  <mat-card>
    <app-responses></app-responses>
  </mat-card>
</div>
