.response {
    padding: 16px;
    h3 {
        padding: 5px;
        margin-bottom: 0px;
    }
}

.response-table {
    margin-bottom: 16px;
}

.wrap {
    word-wrap: break-word;
    white-space: normal;
    width: 150px;
    padding-right: 12px;
}
